.gender-img{
    width: 150px;
    margin-top: 60px;
    margin-left: 126px;
}


.card-container{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: 100% !important;
    justify-content: center;
}

.card-info {
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 1028px) {
    .card-container{
        flex-direction: column !important;
    }

    .card-info {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
